# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# For API keys
Keys.plist
# Pods - for those of you who use CocoaPods
Pods/
# Over 100MB can't upload to github
Bware/Pods/GoogleMaps/Frameworks/GoogleMaps.framework/Versions/A/GoogleMaps
Bware/GoogleService-Info.plist